</br>
</br>
<h4 class="text-center">You have not registered to any events</h4>
<p class="text-center">Press following button to view events and register</p>
<div class="text-center">
<%= link_to "Events", events_path, class:"btn btn-sm btn-warning " %>
</div>